.dark-mode {
  background-color: #000;
  color: #d3ae9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f3f2f2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.main-container .nav-bar-container {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.main-container .nav-bar-container .nav-bar {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-container .inner-container {
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 92vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main-container .inner-container::-webkit-scrollbar {
  display: none;
}
.main-container .inner-container .sort-container {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1% 2vw 0;
}
.main-container .inner-container .sort-container label {
  display: flex;
  align-items: center;
  color: #3b6732;
  font-weight: 600;
  padding: 0 1vw;
  font-size: 1.2vw;
  letter-spacing: 1px;
  height: 80%;
}
.main-container .inner-container .sort-container select {
  border: none;
  background-color: unset;
  color: #707070;
  font-weight: bold;
  font-size: 1vw;
  height: 80%;
  outline: none;
  cursor: pointer;
}
.main-container .inner-container .page-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  min-height: 90%;
}
.main-container .inner-container .page-container #filter-container {
  width: 14%;
  height: 100%;
  margin: 1% 2% 0;
}
.main-container .inner-container .page-container #filter-container .title,
.main-container .inner-container .page-container #filter-container .cat {
  font-size: 1.5vw;
  font-weight: 600;
  padding: 1vw 0;
  letter-spacing: 1px;
}
.main-container .inner-container .page-container #filter-container .title {
  color: #3b6732;
}
.main-container .inner-container .page-container #filter-container .cat {
  font-size: 1.4vw;
  font-weight: 400;
}
.main-container .inner-container .page-container #filter-container .line {
  border-top: 1px solid #93c29b;
  width: 90%;
  padding-bottom: 1vw;
}
.main-container .inner-container .page-container #filter-container .cat-row {
  display: flex;
  align-items: center;
}
.main-container .inner-container .page-container #filter-container .cat-row input {
  width: 1.4vw;
  height: 1.4vw;
  cursor: pointer;
}
.main-container .inner-container .page-container #filter-container .cat-row label {
  padding: 0.4vw 1vw;
  font-size: 1vw;
  font-weight: 400;
  cursor: pointer;
}
.main-container .inner-container .page-container #products-container {
  width: 80%;
  height: 100%;
  margin-top: 1%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
  align-items: flex-start;
  align-content: flex-start;
}
.main-container .inner-container .page-container #products-container .product {
  margin: 1vw;
  min-height: 22vw;
  width: 16vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: 0 0 1vw 0 #ddd;
  border-radius: 10px;
}
.main-container .inner-container .page-container #products-container .product .image {
  height: 12vw;
  width: 85%;
  margin: 1vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .inner-container .page-container #products-container .product .image img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}
.main-container .inner-container .page-container #products-container .product .info {
  width: 85%;
  margin-bottom: 1vw;
}
.main-container .inner-container .page-container #products-container .product .info p {
  font-weight: bold;
}
.main-container .inner-container .page-container #products-container .product .info .product-name {
  min-height: 3.5vw;
  color: #707070;
  font-size: 0.8vw;
  margin-bottom: 0.5vw;
}
.main-container .inner-container .page-container #products-container .product .info .cart-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .inner-container .page-container #products-container .product .info .cart-price .product-price {
  color: #3b6732;
  font-weight: bold;
  font-size: 1vw;
  width: 50%;
  display: flex;
  align-items: center;
}
.main-container .inner-container .page-container #products-container .product .info .cart-price .cart-button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.main-container .inner-container .page-container #products-container .product .info .cart-price .cart-button button {
  width: 65%;
  height: 2vw;
  border-radius: 0.6vw;
  background-color: #fff;
  border: 2px solid #93c29b;
  cursor: pointer;
  font-weight: 600;
}
.main-container .inner-container .page-container #products-container .product .info .cart-price .cart-button button:hover {
  background-color: #93c29b;
  color: #fff;
}
.main-container #cart-container {
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 90vh;
  scrollbar-width: none;
  flex-direction: column;
  margin-top: 2vh;
}
.main-container #cart-container .cart-title {
  width: 40%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3vw;
  border-bottom: 0.1vw solid #93c29b;
  padding: 0 1vw;
}
.main-container #cart-container #empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main-container #cart-container .row {
  width: 40%;
  display: flex;
  padding: 2vw;
  height: 10vw;
  background-color: #fff;
  border-bottom: 0.1vw solid #93c29b;
}
.main-container #cart-container .row .image {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
}
.main-container #cart-container .row .image img {
  max-width: 100%;
}
.main-container #cart-container .row .details {
  width: 80%;
  height: 100%;
  position: relative;
}
.main-container #cart-container .row .details .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main-container #cart-container .row .details .header .title {
  width: 70%;
  font-size: 1vw;
  padding: 0 1vw;
}
.main-container #cart-container .row .details .header .price {
  width: 30%;
  padding-left: 1vw;
  text-align: right;
  font-size: 1.2vw;
}
.main-container #cart-container .row .details .quantity {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.main-container #cart-container .row .details .quantity button {
  background-color: #93c29b;
  width: 2.2vw;
  height: 2.2vw;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 1.4vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container #cart-container .row .details .quantity button:hover {
  opacity: 0.8;
}
.main-container #cart-container .row .details .quantity .number {
  font-size: 1.4vw;
  font-weight: 600;
  min-width: 3vw;
  text-align: center;
}/*# sourceMappingURL=style.css.map */